body {
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
}

body:before {
    content: ' ';
    background-image: url(./images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.05;
}

header {
    height: 100vh;
    background-image: linear-gradient(rgba(15, 15, 15, 0.5), rgba(15, 15, 15, 0.5)), url(./images/aleks-dorohovich-nJdwUHmaY8A-unsplash.jpg);
    background-size: cover;
    overflow: hidden;
}

header .title {
    backdrop-filter: brightness(60%);
}

header .navbar-brand {
    letter-spacing: 2px;
}

header .navbar-brand:hover {
    color: #a75f0d!important;
    transition: 0.5s;
}

header .nav-item {
    border-bottom: 1px solid #ffffff00;
}

header .nav-item:hover {
    background-color: #77777777;
    border-bottom: 1px solid #ffffff77;
    transition: 0.5s;
}

header #header-content {
    width: 40%;
}

header #header-content>h1 {
    letter-spacing: 3px;
    border-bottom: 1px solid #fff;
}

header #header-content>button {
    border: 2px solid white;
    color: white;
    font-size: 1.25rem;
    ;
}

header #header-content>button:hover {
    color: white;
    background-color: #9e621388;
    transition: 1s;
}

#About-section svg {
    font-size: 60px;
    color: #a3c492;
}

#Img-section {
    height: 70vh;
    background-image: linear-gradient(rgba(240, 240, 240, 0.5), rgba(240, 240, 240, 0.5)), url(./images/bram-naus-n8Qb1ZAkK88-unsplash.jpg);
    background-size: cover;
    background-position:center;
    overflow: hidden;
}

#Img-section > div{
    backdrop-filter: blur(5px);
}

#News-section {
    background-image: linear-gradient(110deg,#4c4c66 50%, #3f3f5a 50%);
}

#News-section tr>:nth-child(2) {
    text-align: center;
}

footer {
    background-image: linear-gradient(80deg,#31313d 42%, #373746 42%);
}

footer ul > li{
    border-bottom: 2px solid #a3c492;
    text-align: right;
    width: 80%;
    margin-top:1rem;
    font-weight: 900;
}

footer a {
    color:white!important;
}

footer .form-btn {
    border: 1px solid #fff;
}

footer .form-btn:hover {
    background-color: #a3c492;
}
#sourceModal .modal-dialog {
    max-width: 650px;
}

.fw-900 {
    font-weight: 900;
}

.ls-3 {
    letter-spacing: 2px!important;
}

.text-content-light {
    color: #c6c6c6dd;
}

.text-content-dark {
    color: #636262dd;
}

.bg-gray {
    background-color: #545669;
}

.bg-brightness90 {
    backdrop-filter: brightness(90%);
}

.bg-brightness85 {
    backdrop-filter: brightness(85%);
}

.bg-brightness80 {
    backdrop-filter: brightness(80%);
}

.w-md-50 {
    width: 50%!important;
}

.fuild-col {
    max-width: 700px;
}

@media screen and (min-width: 576px) {
    .fuild-col {
        max-width: 540px;
    }
}

@media screen and (min-width: 768px) {
    .fuild-col {
        max-width: 720px;
    }
}

@media screen and (min-width: 922px) {
    .fuild-col {
        max-width: 480px;
    }
}

@media screen and (min-width: 1200px) {
    .fuild-col {
        max-width: 570px;
    }
}

@media screen and (min-width: 1400px) {
    .fuild-col {
        max-width: 660px;
    }
}

@media screen and (max-width: 1200px){
    header #header-content {
        width: 80%;
        transform: translateY(-2rem);
    }
}

@media screen and (max-width: 768px) {
    header #header-content {
        width: 100%;
    }
    header #header-content>h1 {
        border-bottom: 0px;
    }
    .About-div>div {
        padding: 2rem 0px!important;
    }
    #Author-section h3 {
        margin-top:2rem;
        text-align:center;
    }
    footer .form-label {
        text-align: center;
    }
    .w-100 {
        width: 100%!important;
    }
    .md-show {
        display:none;
    }
    .debug-col-12 {
        flex:0 0 auto;
        width:100%;
    }
}